<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Revenue Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
    </style>
  </head>
  <body>
    <h1>Revenue Tracker</h1>
    <h2>by Max Damewood</h2>
    <nav>
      <a href="http://20.237.31.52/customers">Customers</a>
      <a href="http://20.237.31.52/contracts">Contracts</a>
      <a href="http://20.237.31.52/transactions">Transactions</a>
      <a href="http://20.237.31.52/invoices">Invoices</a>
      <a href="http://20.237.31.52/accountant-tools/revenue-by-product">Accountant Tools</a>
    </nav>
    <div class="container">
      <img src="{{ url_for('static', filename='images/honest_work.jpg') }}" />
    </div>
    <script></script>
  </body>
</html>
